%h1 Paintr

#selected-color.swatch

#color-controls
  %input#color-input{input:'text'}
  %button#add-color Add Color
  %button#clear-pallette Clear
  %button#undo Undo

#pallette

#image-input-controls
  %input#image-input{input:'text'}
  %button#add-image Add Image
  %button#clear-image-pallette Clear

#image-pallette

#canvas
